@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: url('fonts/OpenSans-400.ttf') format('truetype'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: url('fonts/OpenSans-600.ttf') format('truetype'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: url('fonts/OpenSans-700.ttf') format('truetype'); }
